<script>
	import favicon from '$lib/assets/favicon.webp';
</script>

<div class="flex top card">
<div class="left">

##### Book Template Generator
</div>
<div class="center"/>
<div class="right">
<br/>
<br/>
^
</div>
</div>
<br/>
<div class="flex top card">
<div class="left">

##### Book Template Generator
</div>
<div class="center"/>
<div class="right">
<br/>
<br/>
^
</div>
</div>
<br/>
<div class="flex top card">
<div class="left">

##### Book Template Generator
</div>
<div class="center"/>
<div class="right">
<br/>
<br/>
^
</div>
</div>
<br/>
<div class="flex top card">
<div class="left">

##### Book Template Generator
</div>
<div class="center"/>
<div class="right">
<br/>
<br/>
^
</div>
</div>

<a href="https://book.agamurian.com">
  <div class="card">
  <br/>
    <div class="flex">
      <div class="blockcard">
        <img src="/src_print.png" style="max-width:100%;height:auto;"/>
      </div>
      <div class="blockcard">

#### Book.Agamurian.Com
        <br/>
        <p>
        mockup generator for book renders
        </p>
      </div>
    </div>
  </div>
</a>
