
## Blog:

<br/>

various topics covered over the things wich bother me


<div class="">

## Latest in the Blog:
<br/>

<a href="/blog/functional_programming" class="articlelinkdark">

##### Functional Programming:
how simple data transformation aalongeside with ddd works great
```
03.03.2022
```
</a>

<hr/>

<a href="/blog/on_new_in_python" class="articlelinkdark">

##### On new in Python:
pattern matching, for loops instead of recurions
```
03.03.2022
```
</a>
<hr/>

<a href="/blog/picture" class="articlelinkdark">

##### Picture:
various pictures
```
03.03.2022
```
</a>
<hr/>

<a href="/blog/on_games" class="articlelinkdark">

##### On Gamess:
all about specific part of human endevour
```
03.03.2022
```
</div>
