$light: #ffffff;
$dark: #1d1d1d;
$secondarycolor: #3a5010;
$primarycolor: #5b6f4e;

$backgroundcolor: $light;
$frontcolor: $dark;
$neutral: #8888;


// Light theme (default)
:root {
  --backgroundcolor: #{$light};
  --frontcolor: #{$dark};
}

// Dark theme (applied when .dark-theme class is on <html>)
:root.dark-theme {
  --backgroundcolor: #{$dark};
  --frontcolor: #{$light};
}

$bordercolor: $light;

$borderwifth: 2px;
$rounded: 3.5px;

//$sans: "Rubik";
//$sans: "Bricolage Grotesque";
//$sans: "Golos Text";
$sans: "Inter";

$monospace: "Ubuntu Mono";

//$serif: "Libertinus Serif";
//$serif: "P052";
$serif: "C059";

$header: $sans;
$basefont: $serif;

$factor: 1.0;
$height: 1.5;
$fontsizeh1: calc(35px * $factor);
$fontsizeh2: calc(28px * $factor);
$fontsizeh3: calc(24px * $factor);
$fontsizeh4: calc(22px * $factor);
$fontsizeh5: calc(20px * $factor);
$fontsizeh6: calc(18px * $factor);
$fontsize: calc(16px * $factor);

$margin: 30px;
$size1: 2px;
$size2: 4px;
$size3: 8px;
$size4: 16px;
$size5: 20px;
$size6: 50px;
$size7: 100px;
$size8: 300px;

$containerw1: 1000px;
$containerfull: 100%;

.container-centered{
  padding-top: 0px;
  margin: auto;
  max-width: $containerw1;
  gap:0;
  transition: 0;
}

*{
  box-sizing: border-box;
  font-feature-settings: "kern";
  text-rendering: optimizelegibility;
}

::selection{
  background-color: $secondarycolor;
  color: $light
}
body{
  background-color: var(--backgroundcolor);
  max-width: 100vw;
  color: var(--frontcolor);
  padding: $margin;
  padding-top: calc(50px + $margin);
  margin-top: 10px;
}
a {
  transition: 0.35s ease;
  color: $secondarycolor;
  &:hover {
    color: $primarycolor;
  }
}
.blocks {
  display: inline;
  max-width: 100%;
  flex-direction: raw;
  padding: 0;
  gap: $size6;
  background-color: black;
}
.cards {
  display: inline-flex;
  flex-wrap: wrap;
  gap: $margin;
  text-transform: none !important;
}
.card {
  flex:1;
  border: $borderwifth var(--backgroundcolor) solid;
  border-radius: $rounded;
  margin-top: 0;
  margin-bottom: $margin;
  padding: 18px 36px;
  color: var(--frontcolor);
  background-color: var(--backgroundcolor);
  box-shadow: 0px 3px 15px 1px #0001;
  margin-left: 50px;
  margin-right: 50px;
  transition: 0;
}
.card a{
  color: $primarycolor;
  &:hover {
    color: $secondarycolor;
  }
}
.cardcode {
  border: $borderwifth #000d solid;
  border-radius: $rounded;
  width: 100%;
  margin: auto;
  margin-top: 0;
  margin-bottom: $margin;
  padding: 18px 24px;
  background-color: #000d;
  color: $light;
  flex:1;
  font-size: calc($fontsize * 0.75);
  @media print{
    break-inside: avoid;
  }
}
code {
  font-family: $monospace;
  font-weight: 500;
}
.block {
  margin: 0;
  box-sizing: border-box;
  max-width: 100%;
  padding-bottom: calc($fontsize/4);
}
.blockcard {
  flex:1;
  margin: 0;
  box-sizing: border-box;
  max-width: 100%;
  padding-bottom: calc($fontsize/4);
}
hr {
  margin-top: calc($fontsize * 2);
  margin-bottom: calc($fontsize * 2);
  border-color: var(--frontcolor);
  color: var(--frontcolor);
  border-radius: 4px;
  border: 2px #8888 solid;
}
p {
  line-height: $height; 
  font-size: $fontsize;
  font-family: $basefont;
  text-align: justify;
  margin-top:calc($fontsize/2);
  margin-bottom:calc($fontsize/2);
}
ul {
  line-height: $height; 
  font-size: $fontsize;
  font-family: $basefont;
  text-align: justify;
}

.h0 {
  font-weight: 900;
  line-height: 1; 
  margin-bottom: calc($fontsizeh1);
  font-size: calc($fontsizeh1 * 2);
  font-family: $header;
  background: transparent;
  text-decoration: none;

}
.articlelink{

line-height: .1;
gap:0;
color: $light;
text-decoration: underline dotted 2px #fff2;

}
.articlelinkdark{

line-height: .1;
gap:0;
color: var(--frontcolor);
text-decoration: underline dotted 2px #8888;

}
h1 {
  font-weight: 900;
  line-height: 1; 
  margin-bottom: calc($fontsizeh1 / 2);
  font-size: $fontsizeh1;
  font-family: $header;
}
h2 {
  font-weight: 800;
  line-height: 1; 
  margin-bottom: calc($fontsizeh2 / 2);
  font-size: $fontsizeh2;
  font-family: $header;
}
h3 {
  font-weight: 700;
  line-height: 1; 
  margin-bottom: calc($fontsizeh3 / 2);
  font-size: $fontsizeh3;
  font-family: $header;
}
h4 {
  font-weight: 600;
  line-height: 1; 
  margin-top: calc($fontsizeh4/2);
  margin-bottom: calc($fontsizeh4 / 2);
  font-size: $fontsizeh4;
  font-family: $header;
}
h5 {
  font-weight: 500;
  line-height: 1; 
  margin-top: calc($fontsizeh5);
  margin-bottom: calc($fontsizeh5);
  font-size: $fontsizeh5;
  font-family: $header;
}
h6 {
  font-weight: 400;
  line-height: 1; 
  margin-top: calc($fontsizeh6 / 2);
  margin-bottom: calc($fontsizeh6 / 2);
  font-size: $fontsizeh6;
  font-family: $header;
}
.toright{
  width: 100%;
  text-emphasis: none;
  text-align: right;
}

code {
  font-family: $monospace;
  color: #deeaad;
}
  .overdrop{
    transition: 0.75s ease;
    opacity: 0;
    &:hover{
      opacity: 1;
    }
    width: 100%;
    color: gray;
    margin-bottom: -3px;
  }
	.nav {
		position: fixed;
    display: flex;
    flex-wrap: wrap;
		left: 0;
		right: 0;
    color: $light;
    font-weight: 800;
    background-color: var(--frontcolor);
    background-color: var(--backgroundcolor);
    background-color: var(--backgroundcolor);
    opacity: 0.5;
    backdrop-filter: blur(5px);
    font-size: 13px;
    padding: 5px 15px 5px 15px;
    text-transform: uppercase;
    line-height: 2.0;
    font-family: $sans;
    color: black;
  }
  .bottom{
		bottom: 0;
  }
  .uptop{
  transition: 0.35s ease;
    @media print{
    display:none 
    }
		position: fixed;
    top:0;
		left: 0;
		right: 0;
    width: 100dvw;
    margin-top: -40px;
    height: 180px;
    background-image: linear-gradient(to bottom, var(--backgroundcolor),var(--backgroundcolor), #0000);
    pointer-events: none;
  }
  .downtop{
    @media print{
    display:none 
    }
		position: fixed;
    bottom:0;
		left: 0;
		right: 0;
    width: 100dvw;
    margin-bottom: -120px;
    height: 150px;
    background-image: linear-gradient(to top, var(--backgroundcolor),var(--backgroundcolor), #0000);
    pointer-events: none;
  }
  .menuitem{
    transition: 0.35s ease;
    text-shadow: 1px 1px 20px #8888;
    background: transparent;
    &:hover{
    text-shadow: 1px 1px 20px #8880;
    }
  }
  .top{
    @media print{
    display:none 
    }
		top: 20px;
    left: 20px;
    right: 20px;
    border-radius: $rounded;
    max-width: 100%;
    max-width: calc($containerw1 + $margin);
    margin:auto;
    backdrop-filter: blur(10px);
  line-height: 1.0;
  }
  .nav a {
    padding: 0px 2px;
    border-radius: 2px;
    color: var(--backgroundcolor);
    color: var(--frontcolor);
    text-decoration: 1px underline dotted #8888;
  &:hover {
    color: $primarycolor;
  }
  }
  .overdrop a {
    color: #888;
    &:hover {
      color: $primarycolor;
    }

  }
  .nav ul {
    font-family: $sans;
    font-size: calc($fontsize * 0.85);
    font-size: 13px;
    display: flex;
    margin: 0;
    gap: $size4;
    list-style-type: none;
    padding-left: 0;
    padding-right:0;
    margin-right: 0;
    align-items: right;
    font-weight: 700;
    padding-bottom: 5px;
    
  }
	.left {
		flex: 0;
		margin-right: 6px;
    font-family: $sans;
		margin: 0px;
    text-wrap: nowrap;
	}
	.right {
		flex: 0;
		text-align: right;
    font-family: $sans;
		margin: 0px;
	}
	.center {
		flex: 1;
		margin-left: 30px;
		margin-right: 3px;
		margin: 0px;
	}
  .center p{
    font-size: calc($fontsize * 0.85);
    font-weight: 500;
  }
	.overdrop {
		width: 100%;
		color: gray;
    font-family: $sans;
	}
  .notes{
    text-transform: none;
  }
  .flex{
  gap: $margin;
  display: flex;
}
  .button{
  transition: 0.35s ease;
    padding: 10px 15px;
    background-color: $primarycolor;
    &:hover{
    background-color: $secondarycolor;
  }
    color: $light;
		bottom: 0;
    font-family: $sans;
    font-size: $fontsize;
    font-weight: 500;
    border-radius: calc($rounded/2);
  }
  section{
  @media print{
    page-break-inside:avoid;
    break-inside:avoid;
  }
  }

@page {
  /*
  &:left {
    margin-left: 1.5in; [> For binding <]
  }
  &:right {
    margin-right: 1.25in; [> Balanced layout <]
  }
  margin: 1in;
  /* size: A3;  /* Explicit page size */
}


