
# Portfolio
###### some examples of work from previous expirience
<img src="/favicon.webp" class="img"/>

### Tools:
##### blender animation addon:
<img src="/favicon.webp" class="img"/>

##### blender validation addon:
<img src="/favicon.webp" class="img"/>

##### 3Dsmax qt script installer
<img src="/src.png" class="img"/>

##### 
<img src="/75.webp" class="img" />
